@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1, h2, h3, h4, h5 {
		font-family: 'Montserrat'
	}
}

@layer utilities {
	/* width */
	::-webkit-scrollbar {
		width: 4px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: transparent;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #6B7280aa;
		border-radius: 100vh;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #6B7280;
	}
}

@layer components {
    .grid-layout {
        @apply px-5 grid gap-5 grid-cols-4 md:grid-cols-8 lg:grid-cols-12
    }

	.bg-dot-grid {
		@apply relative;
	}

	.bg-dot-grid::after {
		@apply block absolute left-0 top-0 w-full h-full opacity-[0.15] -z-10;
		content: ' ';
		background-image: radial-gradient(black 1px, transparent 0);
		background-size: 20px 20px;
	}

	.home-bg-sm {
		@apply relative overflow-hidden;
	}

	.home-bg-sm::before {
		@apply absolute -z-10 w-[250%] h-[250%] -top-1/2 -left-[100%];
		content: "";
		transform: rotate(20deg);
		background: 
		radial-gradient(25% 2% at 20% 26%, rgba(115, 176, 255, 0.3) 0px, transparent 100%) repeat scroll 0% 0%,
		radial-gradient(25% 2% at 25% 28%, rgba(76, 241, 123, 0.3) 0px, transparent 100%) repeat scroll 0% 0%,
		radial-gradient(25% 2% at 30% 30%, rgba(115, 176, 255, 0.3) 0px, transparent 100%) repeat scroll 0% 0%;
	}

	.home-bg-lg {
		@apply relative overflow-hidden;
	}

	.home-bg-lg::before {
		@apply absolute -z-10 w-[250%] h-[250%] -top-1/2 -left-1/2;
		content: "";
		transform: rotate(20deg);
		background: 
		radial-gradient(9% 4% at 27% 46%, rgba(115, 176, 255, 0.3) 0px, transparent 100%) repeat scroll 0% 0%,
		radial-gradient(9% 4% at 28% 51%, rgba(76, 241, 123, 0.3) 0px, transparent 100%) repeat scroll 0% 0%,
		radial-gradient(9% 4% at 29% 56%, rgba(115, 176, 255, 0.3) 0px, transparent 100%) repeat scroll 0% 0%;
	}

	/* ------------ ANIMATION ------------------*/
	.link-animated {
		@apply inline-block relative
	}

	.link-animated::after {
		@apply bg-primary-500 absolute w-full h-0.5 bottom-0 left-0;
		transform: scaleX(0);
		content: '';
		transform-origin: bottom right;
		transition: transform 0.25s ease-out;
	}

	.link-animated:hover::after {
		transform: scaleX(1);
  		transform-origin: bottom left;
	}

	.navbar-button-animated span:first-child {
		@apply -mt-0.5;
		transform: rotate(45deg);
	}

	.navbar-button-animated span:last-child {
		@apply -mt-0.5;
		transform: rotate(-45deg);
	}

    /* ------------ WIDTH STYLES --------------*/
	.w-384 {
		width: 1536px !important;
	}

	.max-w-384 {
		max-width: 1536px !important;
	}
}